---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import z from '../images/z.svg';

---

<Layout title="Felipe Zapata">
  <div class="container">
    <nav class="sidebar">
      <a href="/">
        <Image src={z} alt="Felipe Zapata's logo" class="sidebar-image"/>
      </a>
    </nav>
    <main>
      <header class="header">
        <div class="header-shine"></div>
        <nav class="header-nav">
          <a href="#introduction" class="header-explore">Explore</a>
          <button class="header-conect">Connect</button>
        </nav>
        <div> a lot of stuff<br /> a lot of stuff<br /> a lot of stuff<br /> a lot of stuff<br /> a lot of stuff<br /> a lot of stuff<br /> a lot of stuff<br /> a lot of stuff<br /></div>
      </header>
    </main>
  </div>
</Layout>

<style>
	main {
		padding-left: 3rem;
    padding-right: 3rem;
	}
  main::after {
    --size: 100px;
    content: '';
    animation: dotScroll 160s linear infinite;
    background-image: radial-gradient(circle,#2e3c51 2px,#ffffff00 0), 
    radial-gradient(circle,#2e3c51 2px,#ffffff00 0);
    background-color: #11151C;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  @keyframes dotScroll {
    0% {
        background-position-y: 1400px;
    }

    to {
        background-position-y: 0;
    }
  }

  .container {
    display: flex;
  }

  .sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;
    background-color: #161e29;
    border-color: #2e3c51;
    border-right-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }

  .sidebar-image {
    width: 100%;
    height: auto;
  }

  .header {
    display: flex;
    
  }

  .header-shine {
    position: absolute;
    width: 100%;
    background-image: radial-gradient(500px 200px at 50% 0%, #131f33 20%, rgba(19,30,49,0) 100%);
  }

  .header-connect::after {
    content: "~>";
    margin-left: 0.375rem;
    display: inline-block;
    font-family: JetBrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-weight: 500;
    letter-spacing: 0em;
    transition: transform .3s ease;
  }
	
</style>
